// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bd-reports{
  /*border-color: rgb(62, 66, 68);*/

  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  border: solid #f7f7f9
}
