// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination{
  justify-content: center;
}
.drop-menu{
  cursor: pointer;
  user-select: none;
}
.menu-item{
  cursor: pointer;
  padding: 8px 8px 0 8px;
}
.white{
  color: white;
}
.black{
  color: black;
}
.without-line:hover{
  transition: 100ms;
  text-decoration: none;
}
.stretched-link:hover{
  color: black;
}

.bold span a{
  font-weight: bold;
}

.card-index:hover{
  transition: 500ms;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}